@font-face {
  font-family: "lemurregular";
  src: url("../assets//fonts/lemur-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* general body styling */
body {
  background-color: #eae4d7;
  font-family: "lemurregular";
  font-size: 18px;
}
h1 {
  font-family: "lemurregular";
  font-size: 40px;
}
h2 {
  font-family: "lemurregular";
  font-size: 28px;
}
.container {
  margin: auto;
  margin-top: 150px;
  display: grid;
  grid-template-areas:
    "icon-1 logo logo . . ."
    "tagline tagline tagline tagline tagline tagline"
    "syno-1 syno-1 icon-2 syno-2 syno-2 icon-3";
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(6, 1fr);
  height: 400px;
  width: 1030px;
}

.join-us-container {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  display: grid;
  grid-template-areas:
    "icon-1 logo logo . . ."
    "tagline tagline tagline tagline tagline tagline"
    "syno-1 syno-1 icon-2 syno-2 syno-2 icon-3";
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(6, 1fr);
  height: 400px;
  width: 1030px;
}

.item {
  background-color: #eae4d7;
  outline: 2px solid #231e21;
  outline-width: medium;
  justify-content: center;
  align-content: center;
}

.one {
  display: grid;
  grid-area: icon-1;
}

.two {
  display: grid;
  grid-area: logo;
  background-color: #231e21;
}

.three {
  display: grid;
  grid-area: tagline;
  font-size: 40px;
}

.four {
  display: grid;
  grid-area: syno-1;
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
}

.five {
  display: grid;
  grid-area: icon-2;
}

.six {
  display: grid;
  grid-area: syno-2;
  text-align: center;
  font-size: 28px;
  line-height: 1.2;
}

.seven {
  display: grid;
  grid-area: icon-3;
}

.chat-icon {
  height: 60px;
}

.light-logo {
  width: 200px;
}

.mic-icon {
  height: 60px;
}

.paper-clip-icon {
  height: 60px;
}

.arrow-icon {
  height: 60px;
}

.button-icon {
  width: 60px;
}

.button-icon:hover {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

.join-us-text {
  color: #eae4d7;
}

.button-background {
  background-color: #231e21;
}

.interests-container {
  margin: auto;
  margin-top: 350px;
  display: grid;
  grid-template-areas:
    "headline headline headline headline"
    " tagline-1 tagline-1 tagline-2 tagline-2"
    "image-1 image-2 image-3 image-4";
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  height: 400px;
  width: 1030px;
}

.item-interests {
  background-color: #eae4d7;
  outline: 2px solid #231e21;
  outline-width: medium;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.one-interests {
  display: grid;
  grid-area: headline;
  background-color: #231e21;
  color: #eae4d7;
}

.two-interests {
  display: grid;
  grid-area: tagline-1;
  color: #231e21;
  font-size: 28px;
}

.three-interests {
  display: grid;
  grid-area: tagline-2;
  color: #231e21;
  font-size: 28px;
}

.four-interests {
  display: grid;
  grid-area: image-1;
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  background-color: #231e21;
}

.five-interests {
  display: grid;
  grid-area: image-2;
}

.six-interests {
  display: grid;
  grid-area: image-3;
  text-align: center;
  font-size: 28px;
  line-height: 1.2;
  background-color: #231e21;
}

.seven-interests {
  display: grid;
  grid-area: image-4;
}

.alarm-icon {
  height: 60px;
}

.satellite-icon {
  height: 60px;
}

.image-icon {
  height: 60px;
}

.add-icon {
  height: 60px;
}

.loving-text {
  text-align: center;
  line-height: 1.2;
}

.new-interests-text {
  text-align: center;
  line-height: 1.2;
}

.login-container {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  display: grid;
  grid-template-areas:
    "chat-icon logo logo . . ."
    "tagline tagline tagline tagline tagline tagline"
    "username username username username username username";
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(6, 1fr);
  height: 400px;
  width: 1030px;
}

.one-login {
  display: grid;
  grid-area: chat-icon;
}

.two-login {
  display: grid;
  grid-area: logo;
  background-color: #231e21;
}

.three-login {
  display: grid;
  grid-area: tagline;
}

.four-login {
  display: grid;
  grid-area: username;
  text-align: center;
}

input,
button,
textarea {
  background-color: #eae4d7;
  outline: none;
  padding: 1em;
  border: solid #231e21 2px;
  margin-top: 10px;
}

.username-label {
  margin-bottom: 100px;
}

.login-submit {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-submit-button {
  background-color: #231e21;
  color: #eae4d7;
}

.user-box {
  outline: #231e21 solid 2px;
  outline-width: medium;
  width: 150px;
  height: 200px;
  top: 50px;
  right: 206px;
  position: absolute;
  display: grid;
  text-align: center;
}

.screen-name-text {
  grid-row: 1;
  background-color: #231e21;
  color: #eae4d7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image {
  grid-row: 2/4;
  outline: #231e21 solid 2px;
  outline-width: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image img {
  width: 80px;
}

h4 {
  font-size: 28px;
  font-family: "lemurregular";
  line-height: 0em;
}

.add-interests-container {
  margin: auto;
  margin-top: 150px;
  display: grid;
  grid-template-areas:
    "headline headline headline headline headline"
    "interest-1 interest-2 interest-3 interest-4 interest-5"
    "interest-6 interest-7 interest-8 interest-9 interest-10";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  height: 400px;
  width: 1030px;
}


.interest-headline {
  grid-area: headline;
}

.interest-1 {
  grid-area: interest-1;
  background-color: #231e21;
  color: #eae4d7;
}

.interest-2 {
  grid-area: interest-2;
}

.interest-3 {
  grid-area: interest-3;
  background-color: #231e21;
  color: #eae4d7;
}

.interest-4 {
  grid-area: interest-4;
}

.interest-5 {
  grid-area: interest-5;
  background-color: #231e21;
  color: #eae4d7;
}

.interest-6 {
  grid-area: interest-6;
}

.interest-7 {
  grid-area: interest-7;
  background-color: #231e21;
  color: #eae4d7;
}

.interest-8 {
  grid-area: interest-8;
}

.interest-9 {
  grid-area: interest-9;
  background-color: #231e21;
  color: #eae4d7;
}

.interest-10 {
  grid-area: interest-10;
}

.add-interest-button {
  width: 25px;
}

.add-interest-button-light {
  width: 25px;
}

.remove-interest-button {
  width: 25px;
  transform: rotate(45deg);
}

.remove-interest-button-light {
  width: 25px;
  transform: rotate(45deg);
}

.add-button {
  text-decoration: none;
  border: none;
  background-color: inherit;
}

.trending-container {
  background-color: #231e21;
  height: 100px;
  width: 1030px;
  margin: auto;
  color: #eae4d7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-container h2 {
  font-size: 40px;
}

.subscribe-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 28px;
  line-height: 0.1em;
}

.footer-container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.footer-logo {
  width: 150px;
  padding: 18px 50px;
  border: 2px solid #231e21;
}

.email-box {
  width: 300px;
}

.copyright-text {
  position: absolute;
  right: 100px;
  transform: translate(50px);
}

.convo-creater {
  margin-top: 150px;
  color:#231e21;
}

.please-work {
  width: 1030px;
  margin: auto;
}

.title label {
  font-size: 18px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #231e21;
  width: 100%;
}

.title {
  margin-top: 15px;
}

.placeholder-change {
  font-family: "lemurregular";
  font-size: 40px;
  color: #231e21;
  line-height: 0.4;
}

.description {
  margin-top: 35px;
}

.placeholder-desc {
  font-family: "lemurregular";
  font-size: 40px;
  color: #231e21;
  line-height: 0.4;
}

.topic {
  margin-top: 35px;
  position: relative;
}

.submit-button-talk {
  margin-top: 20px;
  float: right;
}

.trending-link {
  text-decoration: none;
  color: #eae4d7;
}

a {
  text-decoration: none;
}

.trend-container {
  margin: auto;
  margin-top: 150px;
  display: grid;
  grid-template-areas:
    "trend-1 trend-2 trend-2 . . ."
    "trend-3 trend-3 trend-3 trend-3 trend-3 trend-3"
    "trend-4 trend-4 trend-5 trend-5 trend-6 trend-6"
    "trend-7 trend-7 trend-8 trend-8 trend-9 trend-9"
    "trend-10 trend-10 trend-11 trend-11 trend-12 trend-12"
    "trend-13 trend-13 trend-14 trend-14 trend-15 trend-15";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 2fr 2fr 2fr 2fr;
  height: 1450px;
  width: 1030px;
}

.chat-icon-full {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: auto;
}

.light-logo-full {
  height: 35px;
}

.trending-chat-item {
  background-color: #eae4d7;
  outline: 2px solid #231e21;
  outline-width: medium;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.trending-chat-item .dots {
  margin: auto;
  margin-top: 40px;
  width: 25%;
}

.trend-1 {
  display: grid;
  grid-area: trend-1;
}

.trend-2 {
  display: grid;
  grid-area: trend-2;
  background-color: #231e21;
}

.trend-3 {
  display: grid;
  grid-area: trend-3;
  color: #231e21;
}

.trend-4 {
  display: grid;
  grid-area: trend-4;
}

.trend-5 {
  display: grid;
  grid-area: trend-5;
  background-color: #231e21;
  color: #eae4d7;
}

.trend-6 {
  display: grid;
  grid-area: trend-6;
}

.trend-7 {
  display: grid;
  grid-area: trend-7;
  background-color: #231e21;
  color: #eae4d7;
}

.trend-8 {
  display: grid;
  grid-area: trend-8;
}

.trend-9 {
  display: grid;
  grid-area: trend-9;
  background-color: #231e21;
  color: #eae4d7;
}

.trend-10 {
  display: grid;
  grid-area: trend-10;
}

.trend-11 {
  display: grid;
  grid-area: trend-11;
  background-color: #231e21;
  color: #eae4d7;
}

.trend-12 {
  display: grid;
  grid-area: trend-12;
}

.trend-13 {
  display: grid;
  grid-area: trend-13;
  background-color: #231e21;
  color: #eae4d7;
}

.trend-14 {
  display: grid;
  grid-area: trend-14;
}

.trend-15 {
  display: grid;
  grid-area: trend-15;
  background-color: #231e21;
  color: #eae4d7;
}

.convo-container {
  display: flex;
  flex-direction: column;
}

.email-submit-container {
  gap: 20px;
}

.email-submit-button{
  margin-left: 25px;
  background-color: #231e21;
  color: #eae4d7;
}













